body{
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;

}

section{
  height: 100vh;
}
.banner{
  height: 10vh;
  background-color: #040649;
  text-align: center;
  padding-top: 5vh;
}
.banner a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 3vh;
  padding-left: 1%;
  padding-right: 1%;
  border-left: 2px solid white;
}

.seccion-inicio{
  background-color: black;
  position: relative;
}

.datos-inicio{
  position: absolute;
  width: 15%;
  height: 20vh;
  bottom: 8%;
  right: 5%;
  color: white;
}

.seccion-servicios{

}

.seccion-servicios h1{
  display: inline-block;
  font-size: 10vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #040649;
}

.seccion-servicios h2{
  display: inline-block;
  font-size: 4vh;
  color: #040649;
}

.seccion-servicios a{
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #040649;
}

.fotos-servicios{
  width: 90%;
  height: 77vh;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid red;
}
.columna-1{
  width:27%;
  height: 77vh;
  border: 1px solid green;
  display: inline-block;
  margin-right: 2.4%;

}
.columna-2{
  width:27%;
  height: 77vh;
  border: 1px solid green;
  display: inline-block;
  margin-right: 2.4%;

}
.columna-3{
  width:40%;
  height: 77vh;
  border: 1px solid green;
  display: inline-block;

}

.fila-11{
  width:100%;
  height: 30vh;
  border: 1px solid blue;
}

.fila-21{
  width:100%;
  height: 40vh;
  border: 1px solid blue;
  margin-top: 7vh;
}

.fila-13{
  width:100%;
  height: 30vh;
  border: 1px solid blue;
}

.fila-23{
  width:100%;
  height: 40vh;
  border: 1px solid blue;
  margin-bottom: 7vh;
}

.seccion-lahacienda{
  position: relative;
}
.contenido-lahacienda{
  width: 49%;
  height: 100vh;
  border: 1px solid red;
  position: absolute;
  left: 0;
}
.info-lahacienda{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  color: #040649;
}

.info-lahacienda h1{
  font-size: 10vh;
}
.info-lahacienda h3{
  font-size: 4vh;
  padding-left: 5%;
  text-align: justify;
}
.info-lahacienda p{
  font-size: 3vh;
  padding-left: 5%;
  text-align: justify;
}
.foto-lahacienda{
  width:49%;
  height: 100vh;
  border: 1px solid black;
  position: absolute;
  right: 0;
}
.video{
  width: 80%;
  margin-top: 15vh;
  height: 70vh;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid red;
  position: absolute;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
}

.video iframe{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.seccion-formulario{
  position: relative;
  background-color: green;
}
.formulario{
  width: 30%;
  height: 62vh;
  top: 15vh;
  right: 20%;
  position: absolute;
  padding-left: 5%;
  padding-top: 8vh;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;


}
.formulario label{
  display: inline-block;
  color: white;
  font-weight: bold;
}
.formulario input{
  display: block;
  margin-bottom: 1vh;
  background-color: transparent;
  padding: 0.5%;
  width: 40%;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}
.formulario textarea{
  display: block;
  margin-bottom: 2vh;
  resize: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  width: 70%;
}
.seccion-final{
  position: relative;
}
.iconos-marcas{
  position: absolute;
  width: 100%;
  height: 70vh;
  top: 0;
}
.iconos-grid{
  border: 1px solid red;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15vh;
  height: 41vh;
}
.icono{
  display: inline-block;
  width: 16%;
  height: 20vh;
  border: 1px solid green;
}
.footer{
  position: absolute;
  width: 100%;
  height: 30vh;
  bottom: 0;
}
.info-footer{
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 8vh;
  width: 88%;
  border-top: 1px solid #040649;
  position: relative;
}
.logo-footer{
  margin-top: 3vh;
  width: 10%;
  height: 15vh;
  border: 1px solid red;
  display: inline-block;
}
.redes-footer{
  width: 30%;
  margin-top: 3vh;
  height: 12vh;
  border: 1px solid green;
  display: inline-block;
  position: absolute;
  padding-top: 3vh;
}
.redes-footer span{
  display: block;
  font-size: 3vh;
  margin-left: 10%;
  color: #040649;
}
.redes-footer a{
  display: inline-block;
  font-size: 3vh;
  margin-left: 10%;
  color: #040649;
}
.contacto-footer{
  width: 35%;
  height: 12vh;
  margin-top: 3vh;
  border: 1px solid blue;
  display: inline-block;
  padding-left: 5%;
  position: absolute;
  padding-top: 3vh;
  right: 0;
}
.contacto-footer span{
  display: block;
  font-size: 3vh;
  margin-bottom: 0.5vh;
  color: #040649;
}
.fa-2x{
  color: #040649;
  margin-right: 5%;
}

.fa-lg{
  color: #040649;
  margin-right: 5%;
}
.flotante{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 5%;
  height: 5%;
  background-color: #040649;
  border-top-left-radius: 8px;
  width: 10%;
  text-align: center;
}
.flotante span{
  width: 100%;
  color: white;
  font-weight:bold;
  text-decoration: none;
  font-size: 4vh;
}
